.circle {
    width: 7px;
    height: 4px;
    border-radius: 15px;
    border: 1px solid #282c34;
    background: white;
    display: inline-block;
    padding: 5px;
    justify-content: center;
}

.green {
    background: greenyellow;
}

.red {
    background: orangered;
}

.btn {
    background: white;
    border: 1px solid #282c34;
    color: #282c34;
    width: 40px;
    height: 30px;
    display: inline-block;
    padding: 5px;
}